<div class="card">
  <div class="card-header">
    <a href="/post/{{id}}">{{post_title}}</a>
    <p>Posted By: {{user.username}}
      On: {{format_date date_created}}</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{post_content}}</p>
  </div>

</div>